.endereco{
    background-color: #111111;
    width: 200px;
    height: 225px;
    text-align: center;
    color: #EEDD82;
}

.local{
    padding-top: 1rem;
    color: #EEDD82;
    font-family: sans-serif;
}

.icone__localizacao{
    width: 100px;
    height: 100px;
    padding-top: 1rem;
}

@media screen and (max-width:665px){
    .endereco{
        width: 167px;
    }
    .local{
        font-size: 0.8rem;
    }
}